################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FTSE/v15
/FTSE/Release/FTSE.tlog
/FTSE/Release
/FTSEInstaller/Release/FTSEInstaller.tlog
/FTSEInstaller/Release
/Release/FTSE.lib
/Release/FTSE.ipdb
/Release/FTSE.iobj
/Release/FTSE.exp
/Release/FTSE.pdb
/Release/FTSEInstaller.pdb
/Release/FTSEInstaller.ipdb
/Release/FTSEInstaller.iobj
/FTSESetup/bin/Debug
/FTSESetup/bin/Release/FTSESetup.xml
/FTSESetup/bin/Release/FTSESetup.pdb
/FTSESetup/bin/Release/FTSESetup.ini
/FTSESetup/bin/Release/FTSESetup.exe.config
/FTSESetup/obj
/FTSESetup/bin/Release/app.publish
/FTSESetup/FalloutTactics.ico
/FTSESetup/FTSE_Melindil.pfx
/FTSESetup/FTSESetup_TemporaryKey.pfx
/FTSESetup/FTSESetup_1_TemporaryKey.pfx
